{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <img src="{{user.profile.profile_photo.url}}" alt="{{user.profile_photo.url}}" style="height: 20vh; width:20vh; border-radius:50%"
            class="rounded-circle account-img">
        </div>
        <div class="col-md-8">
          <h3 class="text-monospace">{{user.username}}</h3>
          <a href="{% url 'update_profile' %}">
            <button class="btn btn-info ml-4 pl-3">Update</button>
          </a>
        </div>
        <div class="row2 mt-3">
          <p class="text-monospace">{{images|length}} posts</p>
          <p class="text-monospace ml-3">{{user.profile.all_followers}} followers</p>
          <p class="text-monospace ml-3">{{user.profile.all_following}} following</p>
        </div>
        <div class="row3 mt-3">
          <p class="text-monospace font-weight-bold">{{user.username}}</p>
          <p class="text-monospace">{{user.profile.bio}}</p>
        </div>
      </div>

        
    </div>
    <div class="col-md-3"></div>
    
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <h2>Timeline</h2>
      {% for photos_item in photos %}
      <div class="profile">
        <img class="profile_photo" src="{{ photos_item.profile.profile_photo.url }}" alt="{{ photos_item.profile.name }}">
        <div>
          <p class="username" style="margin-top: 5px;">{{ photos_item.profile.username }}</p>
        </div>
      </div>
      <!--Display photos photo images  -->
      <a href=""><img src="{{photos_item.image.url}}" class="img-thumbnail" alt="Image"></a>
  
      {% empty %}
      <div class="row">
        <h2 class="text-center">There is No photos Items</h2>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}