{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container">
  <div class="row mb-4 pt-4">
    <div class="col-sm-4">
      <img src="{{user.profile.profile_photo.url}}" alt="{{user.profile_photo.url}}" width="200" height="200"
        class="rounded-circle account-img">
    </div>
    <div class="col-sm-8">
      <section>
        <div class="row1">
          <h3 class="text-monospace">{{user.username}}</h3>
        </div>

        <div class="row2 mt-3">
          <p class="text-monospace">{{photos|length}} posts</p>
          <p class="text-monospace ml-3">{{user.profile.all_followers}} followers</p>
          <p class="text-monospace ml-3">{{user.profile.all_following}} following</p>
        </div>
        <div class="row3 mt-3">
          <p class="text-monospace font-weight-bold">{{user.username}}</p>
          <p class="text-monospace">{{user.profile.bio}}</p>
        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {% if photos %}
      {% for photo in photos %}
      <div class="row">
        <div class="card pt-3 mt-4">
          <div class="profile">
            <div class="row">
              <div class="col-md-2">
                <p><a href="{% url 'users_profile' photo.user.id %}"><img class="profile_photo"
                      src="{{ photo.user.profile.profile_photo.url }}" alt="{{ photo.profile.name }}"></p>
              </div>
              <div class="col-md-2">
                <p class="username" style="margin-top: 5px;">{{ photo.user.username }}</p>
              </div>
            </div>

            </a>
          </div>
          <div class="card-header">
            <img src="{{photo.photo.url}}" alt="" class="img-tumbnail">
          </div>
          <div class="card-body">
            <div class="flex">

              <div class="ml-3">
                <i class="fas fa-heart like_u">
                  <input type="hidden" class="post_id" value="{{photo.pk}}">
                </i>
              </div>
              <div class="ml-3">
                <a href="{% url 'allcomments' photo_id=photo.id %}"><i class="far fa-comment"></i></a>
              </div>
            </div>
            <div>
              <p><strong class="ml-3 photo_likes">{{photo.all_likes}} </strong>
                <strong>Likes</strong>
              </p>
            </div>
            <div>
              <p class=""><strong>{{photo.name}}</strong> {{photo.caption}}</p>
            </div>
            {% if photo.all_comments.count > 2 %}
            <div class="ml-3 ">
              <a href="{% url 'allcomments' photo_id=photo.id %}" class="text-muted">View all
                {{photo.all_comments|length}} comments</a>
            </div>
            {% endif %}
            {% for comment in photo.all_comments|slice:"2" %}
            <p class="ml-3"><span class="font-weight-bold">{{comment.user.username}}</span>: {{comment.comment}}</p>
            {% endfor %}
            <form action="{% url 'commenting' photo_id=photo.id %}" method="post">
              {% csrf_token %}
              {% bootstrap_form comment_form %}
              <input type="submit" class="btn btn-success btn-lg" value="Comment">
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-3" id="fix">
      <div class="">
        <h2>People</h2>
      </div>
      {% for user in users %}
      <div class="row">
        <div class="col-md-2">
          <p><a href="{% url 'users_profile' user.id %}"><img class="profile_photo"
                src="{{ user.profile.profile_photo.url }}" alt="profile"></p>
        </div>
        <div class="col-md-2">
          <p class="username" style="margin-top: 5px;">{{ user.username }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}