{% extends 'registration/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 search">


      <div class="row">
        {% if users%}
        <h2 class="text-center">Found {{ users|length }} person(s)</h2>
      {% else %}
        <h2 class="text-center"> Found 0 results</h2>
      {% endif %}
      </div>
      {% for person in users %}
      <div class="row">
        <div class="col-md-3">
          <a href="{% url 'users_profile' person.user.id  %}">
            <img src="{{person.user.profile.profile_photo.url}}" class="rounded-circle border" alt="img" width="50"
              height="50">
          </a>
        </div>
        <div class="col-md-3">
          <p class="ml-2"><span class="font-weight-bold">{{person.user.username}}</span></p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-4"></div>
  </div>
</div>



{% endblock %}